* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-height: 100vh;
    font-size: 18px;
    letter-spacing: 2px;
    background-color: #eee;
}

.counter {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h1 {
        text-transform: capitalize;
        padding: 10px 20px;
        color: #000;
        margin-bottom: 50px;
        border-radius: 10px;
        font-size: 60px;
    }

    .number {
        font-size: 100px;
        display: block;
        margin-bottom: 35px;
        font-weight: 600;
    }

    .btns {
        display: flex;
        gap: 20px;
    }

    .click-btn {
        background-color: transparent;
        border: 2px solid #000;
        padding: 10px 25px;
        cursor: pointer;
        font-size: 18px;
        letter-spacing: 2px;
        text-transform: capitalize;
        border-radius: 10px;
    }
}